# Week 8 Lab: Financial Data Manipulation Using Pandas
**Institution:** FAST-NUCES, Islamabad

## Learning Objectives
- Understand and use Pandas for data manipulation in finance.
- Work with Series and DataFrames for financial datasets.
- Apply indexing, filtering, and sorting operations.
- Perform grouping, aggregation, and statistical analysis on stock data.
- Clean and transform real-world financial datasets.

In [ ]:
import pandas as pd

# **Exercise 1: Creating and Understanding Pandas Objects**


## **Task Breakdown**
### **Step 1: Create a Pandas Series**
- The **Series** will store Tesla’s **closing stock prices** for five days.
- Each value in the Series will have a corresponding **day label** (`Day1`, `Day2`, etc.).

### **Step 2: Create a Pandas DataFrame**
- The **DataFrame** will contain Tesla stock data with the following columns:
  - **Company**: The name of the company (Tesla).
  - **Open**: Stock price at market open.
  - **High**: Highest stock price of the day.
  - **Low**: Lowest stock price of the day.
  - **Close**: Stock price at market close.

### **Step 3: Display the Data Types**
- Use the `type()` function to check whether:
  - `stock_prices` is a **Series**.
  - `df` is a **DataFrame**.

### **Step 4: Print the Objects**
- Print the **Series** and **DataFrame** to verify their structure.

In [5]:
import pandas as pd
stock_prices = pd.Series([850, 863, 821, 880, 895])
index=['Day1', 'Day2', 'Day3', 'Day4', 'Day5']

data = {'Company': ['Tesla', 'Tesla', 'Tesla', 'Tesla', 'Tesla'],
        'Open': [841, 853, 817, 873, 884],
        'High': [860, 870, 830, 890, 900],
        'Low': [830, 850, 810, 865, 880],
        'Close': [850, 863, 821, 880, 895]}
df = pd.DataFrame(data)
print(type(stock_prices))
print(type(df))

print(stock_prices)
print(df)

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
0    850
1    863
2    821
3    880
4    895
dtype: int64
  Company  Open  High  Low  Close
0   Tesla   841   860  830    850
1   Tesla   853   870  850    863
2   Tesla   817   830  810    821
3   Tesla   873   890  865    880
4   Tesla   884   900  880    895

# **Exercise 2: Indexing and Selecting Data**
## **Objective**
This exercise will help you:
- Learn how to **select specific columns** from a DataFrame.
- Retrieve **specific values** using different indexing methods.
- Use **.iloc[] for positional indexing** to extract multiple rows.

---

## **Task Breakdown**
### **Step 1: Select the 'Close' Column**
- Extract the **'Close'** column from the DataFrame.
- This will return a **Pandas Series** containing Tesla’s closing prices.

### **Step 2: Retrieve the Closing Price on Day 3**
- Use **label-based indexing** to find the **closing price** of Tesla on `Day3`.

### **Step 3: Use `.iloc[]` to Get the First Three Rows**
- `.iloc[]` is used for **positional indexing**.
- Extract the **first three rows** from the dataset.

---

In [12]:
close_prices = df['Close']
print(close_prices)

day3_close = df.loc['Day3', 'Close']
print(day3_close)

first_three_rows = df.iloc[:3]
print(first_three_rows)

Day1    850
Day2    863
Day3    821
Day4    880
Day5    895
Name: Close, dtype: int64
821
     Company  Open  High  Low  Close
Day1   Tesla   841   860  830    850
Day2   Tesla   853   870  850    863
Day3   Tesla   817   830  810    821

## Exercise 3: Loading and Inspecting the Dataset
**Task:**
1. Load the dataset using Pandas.
2. Display basic dataset information.
3. Show summary statistics for numerical columns.

In [26]:
url='https://raw.githubusercontent.com/plotly/datasets/master/tesla-stock-price.csv'
df = pd.read_csv(url)

print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    757 non-null    object
 1   close   757 non-null    float64
 2   volume  757 non-null    object
 3   open    757 non-null    float64
 4   high    757 non-null    float64
 5   low     757 non-null    float64
dtypes: float64(4), object(2)
memory usage: 35.6+ KB
None
            close        open        high         low
count  757.000000  757.000000  757.000000  757.000000
mean   272.645614  272.760659  277.122776  268.017399
std     58.378585   58.449827   59.194761   57.515736
min    143.670000  142.320000  154.970000  141.050000
25%    219.560000  219.640000  222.569000  216.080000
50%    277.450000  277.625000  280.789900  273.550000
75%    322.690000  321.560000  327.120000  316.560100
max    385.000000  386.690000  389.610000  379.345000

## Exercise 4: Filtering Tesla Stock Data
**Task:**
1. Find all records where Tesla's closing price was above $800.
2. Find all records where Tesla's trading volume was above 2 million shares.

In [18]:
df['volume'] = pd.to_numeric(df['volume'], errors='coerce')

above_800 = df[df['close'] > 800]
print(above_800)

volume_above_2M = df[df['volume'] > 2000000]
print(volume_above_2M)

Empty DataFrame
Columns: [date, close, volume, open, high, low]
Index: []
           date   close      volume    open      high       low
1    2018/10/15  259.59   6189026.0  259.06  263.2800  254.5367
2    2018/10/12  258.78   7189257.0  261.00  261.9900  252.0100
3    2018/10/11  252.23   8128184.0  257.53  262.2500  249.0300
4    2018/10/10  256.88  12781560.0  264.61  265.5100  247.7700
5    2018/10/09  262.80  12037780.0  255.25  266.7700  253.3000
..          ...     ...         ...     ...       ...       ...
752  2015/10/21  210.09   4177956.0  211.99  214.8100  208.8000
753  2015/10/20  213.03  14877020.0  227.72  228.6000  202.0000
754  2015/10/19  228.10   2506836.0  226.50  231.1500  224.9400
755  2015/10/16  227.01   4327574.0  223.04  230.4805  222.8700
756  2015/10/15  221.31   2835920.0  216.43  221.7300  213.7000

[741 rows x 6 columns]

## Exercise 5: Sorting Tesla Stock Data
**Task:**
1. Sort Tesla stock data by date (oldest to newest).
2. Sort the dataset by closing price (highest to lowest).

In [43]:

df['volume'] = pd.to_numeric(df['volume'], errors='coerce')

sorted_by_date = df.sort_values(by='date')
sorted_by_closing_price = df.sort_values(by='close', ascending=False)

print(sorted_by_date)
print(sorted_by_closing_price)

           date   close      volume    open      high       low
0         11:34  270.49         NaN  264.50  273.8800  262.2400
756  2015/10/15  221.31   2835920.0  216.43  221.7300  213.7000
755  2015/10/16  227.01   4327574.0  223.04  230.4805  222.8700
754  2015/10/19  228.10   2506836.0  226.50  231.1500  224.9400
753  2015/10/20  213.03  14877020.0  227.72  228.6000  202.0000
..          ...     ...         ...     ...       ...       ...
5    2018/10/09  262.80  12037780.0  255.25  266.7700  253.3000
4    2018/10/10  256.88  12781560.0  264.61  265.5100  247.7700
3    2018/10/11  252.23   8128184.0  257.53  262.2500  249.0300
2    2018/10/12  258.78   7189257.0  261.00  261.9900  252.0100
1    2018/10/15  259.59   6189026.0  259.06  263.2800  254.5367

[757 rows x 6 columns]
           date   close      volume     open    high      low
272  2017/09/18  385.00   7177773.0  380.250  389.61  377.680
331  2017/06/23  383.45   6425180.0  382.450  386.99  379.345
332  2017/06/22  382.61   7510406.0  377.990  385.00  373.570
338  2017/06/14  380.66  12778480.0  381.085  384.25  376.310
273  2017/09/15  379.81   5407227.0  374.510  380.00  372.700
..          ...     ...         ...      ...     ...      ...
674  2016/02/12  151.04   7233264.0  155.000  157.01  143.700
675  2016/02/11  150.47  14236900.0  152.000  163.26  147.000
677  2016/02/09  148.25   8639661.0  142.320  159.79  141.050
678  2016/02/08  147.99   9306754.0  157.105  157.15  146.000
676  2016/02/10  143.67  10104690.0  150.500  154.97  141.740

[757 rows x 6 columns]

## Exercise 6: Calculating Daily Price Changes
**Task:**
1. Add a new column `Daily Change = Close - Open`.
2. Calculate the percentage change: `(Daily Change / Open) * 100`.
3. Find the day with the highest daily percentage gain.

In [44]:

df['volume'] = pd.to_numeric(df['volume'], errors='coerce')

df['Daily Change'] = df['close'] - df['open']
df['Percentage Change'] = (df['Daily Change'] / df['open']) * 100

highest_gain_day = df.loc[df['Percentage Change'].idxmax()]

print(df)
print(highest_gain_day)

           date   close      volume    open      high       low  Daily Change  \
0         11:34  270.49         NaN  264.50  273.8800  262.2400          5.99
1    2018/10/15  259.59   6189026.0  259.06  263.2800  254.5367          0.53
2    2018/10/12  258.78   7189257.0  261.00  261.9900  252.0100         -2.22
3    2018/10/11  252.23   8128184.0  257.53  262.2500  249.0300         -5.30
4    2018/10/10  256.88  12781560.0  264.61  265.5100  247.7700         -7.73
..          ...     ...         ...     ...       ...       ...           ...
752  2015/10/21  210.09   4177956.0  211.99  214.8100  208.8000         -1.90
753  2015/10/20  213.03  14877020.0  227.72  228.6000  202.0000        -14.69
754  2015/10/19  228.10   2506836.0  226.50  231.1500  224.9400          1.60
755  2015/10/16  227.01   4327574.0  223.04  230.4805  222.8700          3.97
756  2015/10/15  221.31   2835920.0  216.43  221.7300  213.7000          4.88

     Percentage Change
0             2.264650
1             0.204586
2            -0.850575
3            -2.058013
4            -2.921280
..                 ...
752          -0.896269
753          -6.450905
754           0.706402
755           1.779950
756           2.254771

[757 rows x 8 columns]
date                 2018/04/04
close                    286.94
volume               19880180.0
open                     252.78
high                     288.37
low                       252.0
Daily Change              34.16
Percentage Change     13.513727
Name: 136, dtype: object

## Exercise 7: Exporting Cleaned Data
**Task:**
Save the cleaned dataset as `tesla_cleaned.csv`.

In [30]:
df.to_csv('tesla_cleaned.csv', index=False)

print("Cleaned data exported to tesla_cleaned.csv")

Cleaned data exported to tesla_cleaned.csv